nav {
    height: 100%;
    background-color:#13005A;
  }

  .side-nav-button{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .side-nav-button:hover{
    background-color:rgb(16, 161, 161);
    border-radius: 30%;
  }
