<p>defaulterlist works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Defaulter <span>List</span></h4>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <div class="btn_group">
                                <input type="text" class="form-control" placeholder="Search">
                                <button  class="btn btn-default mx-2 mb-1" title="Pdf"><i
                                        class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-default mb-1" title="Excel"><i
                                        class="fa fa-file-excel-o" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <div class="dropdown" >
                        <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Choose List!!
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item"  (click)="Regular()">Regular</a>
                          <a class="dropdown-item" (click)="Irregular()">Irregular</a>
                          <a class="dropdown-item"  (click)="Defaulter()">Defaulter</a>
                        </div>
                      </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <!-- <th>Applicant Name</th>
                                <th>Account No</th>
                                <th>Email Id</th> -->
                                <th>Total Amount</th>
                                <th>Emi Tenure</th>
                                <th>ROI</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr 
                                *ngFor="let emil of EmiList  | paginate : {itemsPerPage: 5, currentPage: page, totalItems: totalRecords}"> 
                            <!-- *ngIf="Emil.emiId!=0 && Emil.emiPreStatus==='Defaulter'">  -->
                          
                                <td>{{emil.emiId}}</td>
                                <td>{{emil.emiTotalAmount}}</td>
                                <td>{{emil.emiTenure}}</td>
                                <td>{{emil.emiRoi}}</td>
                                <td>
                                    <button type="submit" class="btn btn-primary" (click)="sendMail()">Notice</button>
                                </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="d-flex justify-content-between align-items-center inline">
                        <pagination-controls class="my-pagination" (pageChange)="page = $event">
                        </pagination-controls>
                        <a (click)="getBack()" class="linkable">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
