<div class="container">
    <mat-card>
        <div class="text-center mt-4">
            <h1>Loan Application and Approval Process</h1>
        </div>
        <mat-stepper orientation="vertical">
            <mat-step>
                <ng-template matStepLabel>Step 1: OTP and register</ng-template>
                <ng-template matStepContent>
                    <p style="margin-top: 12px;">Verify the mobile number that you use with your bank or loan accounts and register with us in
                        seconds.
                    </p>
                </ng-template>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Step 2: Loan Application</ng-template>
                <ng-template matStepContent>
                    <p style="margin-top: 12px;">To apply for an MSME loan, you will need to complete and submit a loan application form, either
                        online or
                        in person at one of our branches. The application will ask for basic details and information
                        about your
                        business and your
                        financial situation, including your income, assets, and credit history.</p>
                </ng-template>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Step 3: Document Submission</ng-template>
                <p style="margin-top: 12px">In addition to the loan application, you may be required to submit additional documents to support
                    your
                    application. These may include financial statements, tax returns, business plans, and other
                    supporting
                    materials.</p>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Step 4: Underwriting and Approval</ng-template>
                <p style="margin-top: 12px">Once your application and supporting documents have been received, they will be reviewed by our
                    underwriting
                    team. The underwriting team will assess the risk of lending to your business and determine whether
                    to
                    approve your loan. The underwriting team will be Sales Executive, Credit Manager, Accounts Head,
                    Operational
                    Executive</p>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Step 5: Loan Disbursement</ng-template>
                <p style="margin-top: 12px">If your loan is approved, the funds will be disbursed to you according to the terms of your loan
                    agreement.
                    This may include a one-time lump sum payment or a series of installments.</p>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Step 6: Repayment</ng-template>
                <p style="margin-top: 12px">You will be required to make regular payments on your loan according to the terms of your loan
                    agreement.
                    These payments may include principal and interest, as well as any fees or charges associated with
                    the loan.
                </p>
            </mat-step>
        </mat-stepper>
    </mat-card>
</div>