<div id="parent">
    <div class="one">
        <img src="/assets/image/building-4781384_1920.jpg" width="100%" height="400px"/>
        <!-- <h1>The right financing for your success</h1>
        <p>Whether you need cash to operate, or capital to expand, First International Bank & Trust can help you
            get there.</p>  -->
    </div>
    <div class="two">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-white order-card">
                        <div class="card-block">
                            <h2 class="m-b-20">Collateral-free Loans </h2>
                            <p class="m-b-0">No risk of assest loss to get our business loan</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-xl-3">
                    <!-- <div class="card bg-c-pink order-card"> -->
                        <div class="card bg-c-white order-card">
                        <div class="card-block">
                            <h2 class="m-b-20">Flexible Tenure</h2>
                            <p class="m-b-0">Convenient tenures of up to 8 years</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-white order-card">
                        <div class="card-block">
                            <h2 class="m-b-20">Loans Upto 4 crores</h2>
                            <p class="m-b-0">Fullfil all your business requirements with our loan</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-white order-card">
                        <div class="card-block">
                            <h2 class="m-b-20">Superfast processing </h2>
                            <p class="m-b-0">Loan Disbursement within 48 hours</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-white order-card">
                        <div class="card-block">
                            <h2 class="m-b-20">Low Interest Rates</h2>
                            <p class="m-b-0">Avail loans at interest rates starting from 7%</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-white order-card">
                        <div class="card-block">
                            <h2 class="m-b-20">Minimal Documents</h2>
                            <p class="m-b-0">Less documentation required for loan approval</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-white order-card">
                        <div class="card-block">
                            <h2 class="m-b-20">100% digital process</h2>
                            <p class="m-b-0">End-to-end online application process</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-white order-card">
                        <div class="card-block">
                            <h2 class="m-b-20">No hidden charges</h2>
                            <p class="m-b-0">All fees and charges are mentioned upfront</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

