<!-- <p>login works!</p>
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-7">
        <img src="assets/image/login.jpg" >
      </div>
      <div style="text-align:left;" width="800" class="col-md-5">
        <div  class="card-body" >
          <form class="login-form">
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-uppercase">Username</label>
              <input type="text" name="username" id="user" class="form-control" placeholder="Username" [(ngModel)]=u.username>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="text-uppercase">Password</label>
               <input type="password" name="password" id="password" class="form-control" placeholder="Password" [(ngModel)]=u.password>
            </div>
            
            
              <div class="form-check" style="text-align: left;" >
              <button type="submit" class="btn btn-login float-right"(click)="login(u)">Submit</button>
            </div>
            
            </form>
            
        </div>
      </div>
    </div>
  </div> -->



  <!-- <html>

<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="top_link"><a href="#"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>
				<div class="contact">
					<form action="login">
						<h3>SIGN IN</h3>
						<input type="text" name="username" placeholder="USERNAME" [(ngModel)]=u.username>
						<input type="password" name="password" placeholder="PASSWORD" [(ngModel)]=u.password>
						<button class="submit"  (click)="login(u)">LET'S GO</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
				<marquee><h2>FINGERTIP FINANCE</h2></marquee>	
					<h5>FINGERTIP FINANCE COMPANY IN TERMS OF SMALL BUSINESS LOAN</h5>
				</div>
				
			</div>
		</div>
	</section>
</body>
</html> -->

<html>

<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="top_link"><a href="#"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>
				<div class="contact">
					<form action="login">
						<h2 style="text-align: center"><strong>SIGN IN</strong></h2>
						<input type="text" name="username" placeholder="USERNAME" [(ngModel)]=u.username>
						<input type="password" name="password" placeholder="PASSWORD" [(ngModel)]=u.password>
						<button class="submit"  (click)="login(u)">LOGIN</button>
					</form>
				</div>
			</div>
			<div class="right"><img src="/assets/image/artboard_2x_png by Hoveny.png">
				<div class="right-text">
				<marquee><h2>FINGERTIP FINANCE</h2></marquee>	
					<h5>FINGERTIP FINANCE COMPANY IN TERMS OF SMALL BUSINESS LOAN</h5>
				</div>
				
			</div>
		</div>
	</section>
</body>
</html>








