<div class="container shadow p-3 mb-5 bg-white rounded">
    <div style="text-align: center;">
        <h1>Fees & Charges</h1>
    </div>
    <ul class="list-group list-group-numbered">
        <li class="list-group-item list-group-item-action"><strong>Rate of interest</strong> - 9.75% to 25% p.a.</li>
        <li class="list-group-item list-group-item-action"><strong>Processing fees</strong> - Up to 2.95% of the loan amount (inclusive of taxes).</li>
        <li class="list-group-item list-group-item-action"><strong>Bounce charges</strong> - Rs. 1,500 per bounce.</li>
        <li class="list-group-item list-group-item-action"><strong>Document processing charges</strong>- Rs. 2,360 (inclusive of taxes).</li>
        <li class="list-group-item list-group-item-action"><strong>Prepayment penalties</strong> - 4.72% inclusive of the taxes on part-payment amount paid.
        </li>
    </ul>
</div>