<!-- <p>loandetails works!</p> -->

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Loan <span>Details</span></h4>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <div class="btn_group">
                              <input type="text" class="form-control" placeholder="Search">
                              <button  class="btn btn-default mx-2 mb-1" title="Pdf"><i
                                      class="fa fa-file-pdf-o" aria-hidden="true"></i>
                              </button>
                              <button class="btn btn-default mb-1" title="Excel"><i
                                      class="fa fa-file-excel-o" aria-hidden="true"></i>
                              </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Loan Amount</th>
                                <th>Loan Tenure</th>
                                <th>Loan Emi</th>
                                <th>Loan Status</th>
                                <th>Document</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of customerList | paginate : {itemsPerPage: 5, currentPage: page, totalItems: totalRecords}">
                                <td scope="row">{{c.customerId}}</td>
                                <td>{{c.loanRequest.requestLoanAmount}}</td>
                                <td>{{c.loanRequest.requestLoanTenure}}</td>
                                <td>{{c.loanRequest.requestLoanEmi}}</td>
                                <td>{{c.loanRequest.sanctionStatus}}</td>
                                <td><button type="submit" class="btn btn-primary" (click)="Document(c.customerId)">Documents</button></td>
                                <td>
                                    <ul class="action-list">
                                        <li><a [routerLink]="ldetail" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                        <li><a [routerLink]="ldetail" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                  <div class="d-flex justify-content-between align-items-center inline">
                      <pagination-controls class="my-pagination" (pageChange)="page = $event">
                      </pagination-controls>
                      <a (click)="getBack()" class="linkable">
                          <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                      </a>
                  </div>
                  </div>
        </div>
    </div>
</div>



<div class="container1" *ngIf="docum.documentId!=0" >
<mat-stepper>
    <mat-step label="Step 1" state="phone">
      <p>Pan Card</p>
      <div class="example-container">
        <!-- <img [src]="'data:image/jpeg;base64,'+e.profilePhoto" height="50" width="50"> -->
        <img [src]="'data:image/jpeg;base64,'+docum.pancard" height="100" width="100">
        
        <button class="exbutton" mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 2" state="chat">
      <p>Aadhaar Card</p>
      <div class="example-container">
        <img [src]="'data:image/jpeg;base64,'+docum.aadhaarCard" height="100" width="100">
        <button class="exbutton" mat-button matStepperPrevious>Back</button>
     
        <button class="exbutton" mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 3" state="chat">
        <p>Photo Copy</p>
        <div class="example-container">
          <img [src]="'data:image/jpeg;base64,'+docum.photoCopy" height="100" width="100">
          <button class="exbutton" mat-button matStepperPrevious>Back</button>
          
          <button class="exbutton" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Step 4" state="chat">
        <p>Bank Statement</p>
        <div class="example-container">
          <img [src]="'data:image/jpeg;base64,'+docum.bankStatement" height="100" width="100">
          <button class="exbutton" mat-button matStepperPrevious>Back</button>
          
          <button class="exbutton" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Step 5" state="chat">
        <p>Blank Cheque</p>
        <div class="example-container">
          <img [src]="'data:image/jpeg;base64,'+docum.blankCheque" height="100" width="100">
          <button class="exbutton" mat-button matStepperPrevious>Back</button>
       
          <button class="exbutton" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Step 6" state="chat">
        <p>Registration Proof</p>
        <div class="example-container">
          <img [src]="'data:image/jpeg;base64,'+docum.registrationProof" height="100" width="100">
          <button class="exbutton" mat-button matStepperPrevious>Back</button>
       
          <button class="exbutton" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Step 7" state="chat">
        <p>Address Proof</p>
        <div class="example-container">
          <img [src]="'data:image/jpeg;base64,'+docum.addressProof" height="100" width="100">
          <button class="exbutton" mat-button matStepperPrevious>Back</button>
       
          <button class="exbutton" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Step 8" state="chat">
        <p>signature</p>
        <div class="example-container">
          <img [src]="'data:image/jpeg;base64,'+docum.signature" height="100" width="100">
          <button class="exbutton" mat-button matStepperPrevious>Back</button>
       
          <button class="exbutton" mat-button matStepperNext>Next</button>
        </div>
       </mat-step> 
        <mat-step label="Step 9" state="chat">
            <p>ITR Copy</p>
            <div class="example-container">
              <img [src]="'data:image/jpeg;base64,'+docum.itrCopy" height="100" width="100">
              <button class="exbutton" mat-button matStepperPrevious>Back</button>
           
              <button class="exbutton" mat-button matStepperNext (click)="Verify()">Verified</button>

              <button class="exbutton" mat-button-danger matStepperNext (click)="sendMail()">Faild</button>
            </div>
      </mat-step>
  
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-stepper>
</div>  


