<div class="container">
    <mat-card>
    <div class="text-center mt-4">
        <h1>Frequently Asked Questions</h1>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <i class="fa fa-question-circle fa-sm mb-1 me-2"></i>
                    How do I apply for an MSME loan?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">To apply for an MSME loan, you will need to fill out an application form and
                    provide supporting
                    documents such as proof of identity, proof of ownership of the business, financial statements, and
                    tax returns.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <i class="fa fa-question-circle fa-sm mb-1 me-2"></i>
                    What documents do I need to provide in order to apply for an MSME loan?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> The specific documents required to apply for an MSME loan will depend on
                    the
                    lender and the type of
                    business you have. Common documents that may be requested include proof of identity, proof of
                    ownership of the business, financial statements, tax returns, and a business plan.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <i class="fa fa-question-circle fa-sm mb-1 me-2"></i>
                    How long does it take to get an MSME loan approved?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">The time it takes to get an MSME loan approved can vary depending on the
                    lender
                    and the completeness
                    of your application. It is generally recommended to allow at least a few weeks for the approval
                    process.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    <i class="fa fa-question-circle fa-sm mb-1 me-2"></i>
                    What is the interest rate for an MSME loan?
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">The interest rate for an MSME loan will depend on the lender and may be
                    influenced by factors such
                    as the creditworthiness of the borrower and the type of business. It is important to shop around and
                    compare rates from multiple lenders to find the best deal.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    <i class="fa fa-question-circle fa-sm mb-1 me-2"></i>
                    Can I get an MSME loan if I have a low credit score?
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">A CIBIL Score of 685 or higher is required to apply for our business loan.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    <i class="fa fa-question-circle fa-sm mb-1 me-2"></i>
                    Do I need to provide a collateral to get an MSME loan?
                </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">You do not have to provide any collateral or security such as property or
                    gold ornaments to apply
                    for our business loan
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    <i class="fa fa-question-circle fa-sm mb-1 me-2"></i>
                    Are there any fees associated with an MSME loan?
                </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">There may be fees associated with an MSME loan, such as origination fees,
                    closing costs, or late
                    payment fees. It is important to carefully review the terms of your loan agreement and ask about any
                    fees that may be applicable.
                </div>
            </div>
        </div>
    </div>
    </mat-card>
</div>